.back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .back-button::before {
    content: '';
    display: inline-block;
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .back-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  