
.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: #fff;
  }
  
  .main-content {
    display: flex;
    flex-direction: row;
    height: calc(100% - 120px);
  }
  
  .posts-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  
  @media (max-width: 768px) {
    .sidebar {
        display: none;
      }
    .main-content {
      flex-direction: column; 
    }
    .post-item {
      width: 100%; 
      margin-bottom: 1rem; 
    }
  }
  