html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh; 
  width: 100%; 
  background-color: #000;
  color: #fff;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; 
}
  
  .dashboard-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dashboard-title {
    font-size: 2rem;
  }
  
  .logout-button {
    background-color: #1DA1F2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: #168ada;
  }
  
  .post-list {
    width: 100%;
    margin-top: 20px;
  }
  
  .post-item {
    background-color: #121212;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .post-actions {
    display: flex;
    gap: 10px;
  }
  
  .action-button {
    background-color: #202020;
    border: 1px solid #333;
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .action-button:hover {
    background-color: #333;
  }
  
  .add-post-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #1DA1F2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
  
  .add-post-button:hover {
    background-color: #168ada;
  }
  
  .add-post-icon {
    display: inline-block;
    line-height: 1;
  }

@media (max-width: 768px) {

  .dashboard-container {
    padding: 10px; 
  }

 
  .dashboard-header, .post-list, .post-item, .post-actions {
    width: 100%; 
  }

  .dashboard-header h1 {
    font-size: 1.5rem; 
  }

  .add-post-button {
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
  }

  .post-item {
    flex-direction: column;
    align-items: flex-start; 
  }

  .post-actions {
    margin-top: 10px; 
  }

  .action-button, .logout-button {
    padding: 5px; 
  }
}


@media (max-width: 480px) {

  .dashboard-container {
    padding: 5px;
  }

  .dashboard-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logout-button {
    margin-top: 10px; 
  }

  .add-post-button {
    right: 10px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }
  
}

  