.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  height: 100%;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  border-right: 1px solid white;
}
@media (max-width: 768px) {
  .sidebar {
    height: auto; 
    border-right: none; 
  }
}